# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/
pingone-mcp-server

# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work
go.work.sum

# Vendor directory
vendor/

# Mac metadata
**/.DS_Store

# VSCode workspace and MCP config
.vscode/*.code-workspace
.vscode/mcp.json